.letter{font-family:monospace;font-size:160%;display:inline;}
.next{font-size:180%;font-weight:bold;line-height:180%;background:#ddd;}
.done{color:#444;}
.label{clear:both;width:4em;float:left;}
.newline:before{content:"↵";}
.newline{white-space:pre;}
.space{white-space:pre;}
.inspace{font-size:1px;}
.error{background:#fcc;}
.error1{background:#fcc;}
.error2{background:#faa;}
.error3{background:#f77;}
.error4{background:#f44;}
.error5{background:#f00;}
